// Colors
$background: #100315;
$primaryColor: #2438b1;
$secondaryColor: #fe0097;
$white: #ffffff;
$black: #000000;
$bitcoinColor: #bf700f;
$navigationColor: #100436;
$historyTableColor: #a3146a;
$win: #25903e;
$lose: #8e1212;
$disabled: #555555;

// Fonts
$smallFontSize: 0.75em;
$defaultFontSize: 1em;
$largeFontSize: 3em;
$hugeFontSize: 4em;
$headlineFontFamily: "Lato", sans-serif;
$defaultFontFamily: "Roboto", sans-serif;

// Headlines

// Spacing
$space-xs: 1rem;
$space-s: 2rem;
$space-m: 3rem;
$space-l: 5rem;
$space-xl: 7rem;

// Mediaquerys
$mobile: 768px;
$tablet: 950px;
